/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/local/
.vs*

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~

!LICENSE

/_build_params

MYMETA.*

/At-*

.tidyall.d/
*.gz
*.zip
temp/
t/dev/

#eg/*.pl
eg/lib/*.pm

*.session

test_auth.json

MANIFEST
eg/.cache/**
