/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/At-*

.tidyall.d/
*.tmp
eg/inspo.pl
eg/trash.pl
eg/clutter.pl
*.session

eg/*.conf

eg/atproto/
